<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button color="primary" (click)="closeModal()">
            <ion-icon name="arrow-back" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
    	Add Member
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="login auth-page">
    <!-- Add Members form -->
    <form [formGroup]="onAddMemberForm" class="list-form" #form="ngForm">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email Id
        </ion-label>
        <ion-input [(ngModel)]="member.memberId" color="secondary" type="text" formControlName="emailId"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onAddMemberForm.get('emailId').touched && onAddMemberForm.get('emailId').hasError('required')">
        <ion-text color="warning">
          This field is required
        </ion-text>
      </p>
    </form>

	<ion-button margin shape="round" expand="full" color="secondary" (click)="addMember()" [disabled]="!onAddMemberForm.valid">Add Member</ion-button>
</ion-content>
